body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

#header {
    background-color:#1b1c1de1;
    height: 50px;
    text-align: center;
    line-height: 50px;

}
h1 {
    vertical-align: middle;
    color: white;
    font-weight: bolder;
    font-size: 22px;
    
}
.image-area {
    background-image:url(images/flat-lay-desk-calendar-with-succulent-plant.jpg);
    background-position: center;
    background-color: black;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 150px;
  }

  #year {
font-weight: bold;
font-size: medium;
font-style: italic;
color: rgb(207, 6, 6);

  }

#button {
    background-color: tan;
    color: black;
    border-radius: 5px;
}

#number{
    border-radius: 5px;
}

/* footer section styling */
footer{
    background: #1b1c1de1;
    padding: 15px 23px;
    color: #fff;
    margin-top: 65px;
    text-align: center;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
footer span a{
    color: tan;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
